/* reset */
ul{
    list-style: none;
}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
/* general */
body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}
header{
    background-color: white;
}
#logo-header{
    width: 100px;
    vertical-align: middle;
}
#title-header{
    font-size: 100px;
    display: inline-block;
    vertical-align: middle;
}
main{
    max-width: 1200px;
}
.section-top{
    background-color: white;
    width: 80%;
    margin: 30px auto 3px;
    border-radius: 20px 20px 0 0;
    padding: 3%;
}
.section-body{
    background-color: white;
    width: 80%;
    margin:0 auto;
    border-radius: 0 0 20px 20px;
    padding: 3%;
}
.task{
    background-color: #47ADF1;
    color: white;
    border: none;
}
.section{
    background-color: #ffffff;
    color: lightgray;
    border: solid 2px lightgray;
}
.button{
    border-radius: 5px;
    padding: 5px;
}
#line{
    border-width: 1px;
    border-style: solid;
    margin: 3% 0;
    border-color: lightgray;
}
.circle{
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    width: 25px;
    border: 1px;
    border-style: solid;
    border-radius: 50%;
 }
.circle-green{
    border-color: green;
 }
.circle-red{
    border-color: red;
 }

 .check{
    color: green;
 }
 .cross{
    color: red;
 }
 li{
    margin: 1%;
 }
  /* lista badge e relativi colori */
 .badge{
    padding: 0.5%;
    border-radius: 8px;
    color:white;
    text-align: center;
    display: inline-block;
 }
.bg-sky{
    background-color: #45ABE9;
 }
 .bg-purple{
    background-color: #9C72E4;
 }
 .bg-64c0a9{
    background-color:#64C0A9;
}
.bg-orange{
    background-color: #F29E33;
}
.bg-pink{
    background-color: #D863A0;
}
.bg-yellow{
    background-color: #B0C926;
}
