body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
header{
    background-color: white;
}
#logo-header{
    width: 100px;
}
#title-header{
    display: inline-block;
    vertical-align: middle;
}
.container{
    background-color: white;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 3%;
}
.box{
    height: 500px;
}
.button-task{
    width: 8%;
    background-color: #47ADF1;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.button-section{
    width: 8%;
    background-color: #ffffff;
    color: lightgray;
    border-radius: 5px;
    padding: 5px;
}
#line{
    border-width: 1px;
    border-style: solid;
    margin: 3% 0;
    border-color: gray;
    border-bottom: 100%;
}
.no-dot{
    list-style: none;
}
#check{
    border: 1px;
    border-style: solid;
    border-color: greenyellow;
    border-radius: 50%;
 }
 .cross{
    border: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 50%;
 }