body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
header{
    background-color: white;
}
#logo-header{
    width: 100px;
    vertical-align: middle;
}
#title-header{
    font-size: 100px;
    display: inline-block;
    vertical-align: middle;
}
.container{
    background-color: white;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 3%;
}
.button-task{
    width: 8%;
    background-color: #47ADF1;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
.button-section{
    width: 8%;
    background-color: #ffffff;
    color: lightgray;
    border-radius: 5px;
    padding: 5px;
    border: solid 2px lightgray;
}
#line{
    border-width: 1px;
    border-style: solid;
    margin: 3% 0;
    border-color: lightgray;
}
ul{
    list-style: none;
}
.circle-green{
    text-align: center;
    display: inline-block;
    width: 25px;
    border: 1px;
    border-style: solid;
    border-color: greenyellow;
    border-radius: 50%;
 }
 .circle-red{
    text-align: center;
    display: inline-block;
    width: 25px;
    border: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 50%;
 }
 .check{
    color: greenyellow;
 }
 .cross{
    color: red;
 }
 li{
    margin: 1%;
 }
  /* lista badge e relativi colori */
 span.badge.bg-45abe9{
    text-align: center;
    display: inline-block;
    color:white;
 }
 .badge{
    padding: 0.5%;
    width: 8%;
    border-radius: 8px;
 }
.bg-45abe9{
    background-color: #45ABE9;
 }
 span.badge.bg-9c72e4{
    text-align: center;
    display: inline-block;
    color:white;
 }
 .bg-9c72e4{
    background-color: #9C72E4;
 }
 .bg-64c0a9{
    background-color:#64C0A9;
}
span.badge.bg-64c0a9{
    text-align: center;
    display: inline-block;
    color:white;
}
.bg-f29e33{
    background-color: #F29E33;
}
span.badge.bg-f29e33{
    text-align: center;
    display: inline-block;
    color:white;
}
.bg-d863a0{
    background-color: #D863A0;
}
span.badge.bg-d863a0{
    text-align: center;
    display: inline-block;
    color:white;
}
.bg-b0c926{
    background-color: #B0C926;
}
span.badge.bg-b0c926{
    text-align: center;
    display: inline-block;
    color:white;
}
